<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ziyang.potpan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".Login.cll_start"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Main.DesignRecipe"
            android:label="hongjingye1"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Main.Library"
            android:label="hongjingye2"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Main.wxx_main"
            android:label="wangxiaoxuan1"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Info.wxx_example"
            android:label="wangxiaoxuan2"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Info.wxx_feedback"
            android:label="wangxiaoxuan3"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Info.wxx_AboutUsActivity"
            android:label="wangxiaoxuan4"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Info.wxx_AboutUs22"
            android:label="wangxiaoxuan5"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Info.wxx_submitsuccess"
            android:label="wangxiaoxuan6"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Main.zzy_main"
            android:label="zhangziyang"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Main.cll_f1"
            android:label="cllf1"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Main.cll_f2"
            android:label="cllf2"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Login.cll_cp"
            android:label="cll1"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Login.cll_cp2"
            android:label="cll2"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Login.cll_cu"
            android:label="cll3"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Login.cll_reset"
            android:label="cll4"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Login.cll_retrieve"
            android:label="cll5"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".Login.cll_main"
            android:label="cll6"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

    </application>

</manifest>
