<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ziyang.potpan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".cll_main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".hjy_main"
            android:label="hongjingye">
        </activity>

        <activity
            android:name=".wxx_main"
            android:label="wangxiaoxuan">
        </activity>

        <activity
            android:name=".zzy_main"
            android:label="zhangziyang">
        </activity>


    </application>

</manifest>
